<h1 class="mb-3">Hilfe schenken</h1>

<div>
    <button class="btn btn-primary mr-2" routerLink="i-donate-time">Zeit schenken</button>
    <button class="btn btn-primary" routerLink="i-need-help">Ich suche Hilfe</button>
</div>

<h2 class="mt-5 mb-3">Meine Matches</h2>
<ul class="list-unstyled">
    <li>
        <zzh-match
            title="Einkaufen fahren"
            type="request"
        ></zzh-match>
    </li>
    <li>
        <zzh-match
            title="Zeit für Gartenarbeit"
            type="offer"
        ></zzh-match>
    </li>
</ul>
