<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-logo" src="../assets/logo2.png" />
    <br />
    <a class="navbar-brand" routerLink="/">Hilfe schenken</a>

    <div>
        <button class="btn" (click)="login()" *ngIf="!isAuthenticated">Login</button>
        <button class="btn" (click)="logout()" *ngIf="isAuthenticated">Logout</button>
    </div>
</nav>

<div class="container mt-5">
    <router-outlet *ngIf="isAuthenticated"></router-outlet>
    <img *ngIf="!isAuthenticated" class="logo-big" src="../assets/logo2.png" />
</div>
